
/***********************************************************/
/*      PHONEs                                             */
@media screen and (max-width: 320px){
/*Menu de navigation*/
body{overflow-x: hidden;}
#list{height:20px;position:absolute;top:0px;right: 470px;}
#liste{border:4px #000;overflow: hidden;width:367px;border:10px;position:absolute;left:-217px;padding-left: -800px;}
#btn_menu{ position: absolute;top:0px;left:0px;}
#btn_menu{display:block;}
#btn_close img, #btn_menu img{width: 40px}
#block{max-width:320px;position: absolute;transition: left 1s ease-in-out 0s;}
nav img { display: none;}
li{max-width: 320px;margin-left: 0px;margin-right: 0px;}
nav li  {height:50px; padding-top: 20px;float:none;width:540px;background-color:#d5cac6;margin:0px;margin-bottom:39px;
  text-align:center;font-size: 22px;}

/*information qui se trouve dans les pages */
  .ad{left:0px; width: 290px;font-size:15px;position: absolute;top:230px;padding-left: 20px;}
  .ab{right:-18px;  max-width: 270px;font-size:15px;position: absolute;top:-26px;border-top:none;border-bottom:none;}
#logo img{height: 50px;max-width: 50px;margin-left: 0px;margin-right: 0px;}
#logo{position:absolute;right:600px;top:-275px;}
.presentation{max-width: 320px;margin-left: 0px;margin-right: 0px;font-size: 15px;}


/* les liens des sites web et des reseaux sociaux.*/
.reseauxsociaux {width: 30px;max-height: 80px;margin-top:0px;position: absolute;top:390px;}
.reseauxsociaux a {margin-left: 15px;padding-bottom: 10px;}
.lien1 img, .lien2 img,.lien3 img{max-width: 250px;margin-left: 0px;margin-right: 0px;max-height: 180px;}
.lien1, .lien2,.lien3{max-width: 320px;margin-left: 0px;margin-right: 0px;font-size:15px;}
img{max-width: 320px;}
.liens img{max-width: 320px}

/* les different titre*/
#titr{height:60px; max-width: 320px;text-align: justify;font-size:15px;position: absolute;top: -180px}
#titre{max-width: 320px;margin-left: 0px;margin-right: 0px;font-size:22px;position: absolute;top: 250px}
#tit{height: 80px;position: absolute;top:90px;font-size:28px;padding-top: 50px;}

/*les bloques de chaque page.*/
header, footer, #main, footer {max-width: 320px;margin-left: 0px;margin-right: 0px;}
header{max-height:150px;}
.space2{width:320px; height: 920px;}
#page_home .salut{max-width: 420px;}
#page_contact header{max-height:80px;}
#main{max-height:128px;}
#page_portfolio #main{top:210px;height: 100px;margin-right: 0px; right:0px;}
#ret{max-height:100px;}
#page_about .vide {width: 1024px;background-color: #d5cac6;height: 30px;}
#gropeportfolio img{width:140px;}
#gropeportfolio{max-width:320px;margin-left: -300px;margin-right: 0px;position: absolute;left:320px;top:-100px;}
#page_about footer{font-size: 10px;max-width: 320px;margin-left: 0px;position: absolute;top: 810px;}
#page_portfolio footer{font-size: 10px;max-width: 320px;margin-left: 0px;position: absolute;top: 1140px;}
#page_home footer{font-size: 10px;max-width: 320px;margin-left: 0px;position: absolute;top: 1340px;}
#page_contact footer{font-size: 10px;max-width: 320px;margin-left: 0px;position: absolute;top: 400px;}
#page_about #main{ max-height: 600px;position: absolute;top: 250px;}
#page_about .vide{ display:none}
footer, .vide, #tit,.ad{max-width: 320px;margin-left: 0px;}

}




/***********************************************************/
/*      PHONEs                                             */
@media screen and (max-width: 480px)and (orientation: landscape){
  body{overflow-x: hidden;}
  /*Menu de navigation*/
  #list{height:20px;position:absolute;top:0px;right: 470px;}
  #liste{overflow: hidden;width:367px;border:10px;position:absolute;left:-378px;padding-left: -800px;}
  #btn_menu{ position: absolute;top:0px;left:0px;}
  #btn_menu{display:block;}
  #btn_close img, #btn_menu img{width: 40px}
  #block{position: absolute;transition: left 1s ease-in-out 0s;}
  nav img { display: none;}
  img{max-width: 480px;}
  li{max-width: 480px;margin-left: 0px;margin-right: 0px;}

/*information qui se trouve dans les pages */
  .ad{height:100px;width:385px;border-top:none;border-bottom:none;right:540px;font-size:18px;top:250px;}
  .ab{right:-40px;max-width: 465px;font-size:17px;position:absolute;top:-30px;margin-left: 0px;}
  .presentation{max-width: 328px;margin-left:60px;margin-right: 0px;font-size: 17px;margin-top: 80px;}
  #logo img{max-width: 50px;margin-left: 0px;margin-right: 0px;max-height: 50px;}
  #logo{position:absolute;right:680px;top:-200px;}


/* les liens des sites web et des reseaux sociaux.*/
  .liens img{max-width: 480px}
  .reseauxsociaux {width: 30px;max-height: 80px;margin-top:0px;position: absolute;top:340px;}
  .reseauxsociaux a {padding-bottom: 20px;}
  .lien1 img, .lien2 img,.lien3 img{max-width: 250px;margin-left: 0px;margin-right: 0px;max-height: 180px;}
  .lien1, .lien2,.lien3{max-width: 480px;margin-left: 0px;margin-right: 0px;font-size:15px;}

/* les different titre*/
  #tit{height: 55px;position: absolute;top:135px;font-size:28px;padding-top: 50px;}
  #titr{height:70px; max-width: 480px;text-align: justify;font-size:15px;position: absolute;top: -80px}
  #titre{max-width: 328px;margin-left: 0px;margin-right: 0px;font-size:22px;position: absolute;top: 340px;left:80px; }

/*les bloques de chaque page.*/
#page_about .vide {width: 480px;background-color: #d5cac6;height: 30px;}
.space2{height:460px;margin-top:100px; }
#gropeportfolio img{width:100px;}
#gropeportfolio{max-width:420px;margin-left: -600px;margin-right: 0px;position: absolute;left:690px;top:10px;}
  nav li  {height:50px; float:none;width:355px;padding:0px;padding-top:10px;background-color:#d5cac6;margin:0px;margin-bottom:40px;
  text-align:center;font-size: 22px;}
  header, footer, #main, footer {max-width: 480px;}
  #main{max-height:128px;}
  header{max-height:150px;}
  #page_contact header{max-height:100px;}
  #page_portfolio #main{top:160px;height: 100px;margin-right: 0px; right:0px;}
  #page_about footer{font-size: 12px;max-width: 480px;margin-left: 0px;position: absolute;top: 810px;}
  #page_portfolio footer{font-size: 12px;max-width: 480px;margin-left: 0px;position: absolute;top: 780px;}
  #page_home footer{font-size: 12px;max-width: 480px;margin-left: 0px;position: absolute;top: 1340px;}
  #page_contact footer{font-size: 12px;max-width: 480px;margin-left: 0px;position: absolute;top: 440px;}
  #page_about #main{ max-height: 600px;position: absolute;top: 250px;}
  #page_about .vide{ display:none}
  footer, .vide, #tit,.ad{max-width: 480px;margin-left: 0px;}
  }



  /***********************************************************/
  /*     Tablette                                            */
  @media screen and (min-width: 768px) and (orientation:portrait){
    /*menu de navigation*/
  #list{height:20px;position:absolute;top: 0px;}
  body{overflow-x: hidden;}
   nav li  {float:none;width:30px; padding:0px;padding-top:0px;
     margin:0px;margin-bottom:20px;text-align:center;font-size: 20px;}
     img{max-width: 768px;}
     .liens  img{max-width: 328px}
     nav li{width: 2px;font-size: 18px;}
     nav img {  width: 24px;position: absolute;right: 5px;}
     li{max-width: 768px;margin-left: 0px;margin-right: 0px;}

/*informations qui se trouvent dans les pages */
  .ad{min-width:700px; border-top:none;border-bottom:none; right:-50px;font-size:15px;top:345px; right:0px; }
  .ab{ right:30px;  max-width: 768px;font-size:16px;position: absolute;top:5px;}
.presentation{max-width: 768px;font-size: 15px;margin-top: 50px;margin-left: 95px;}
#logo img{max-width: 80px;margin-left: 0px;margin-right: 0px;max-height: 80px;}
#logo{;position: absolute;right:840px;top:-100px;}

/* les liens des sites web et les reseaux sociaux.*/
  .reseauxsociaux {margin-left:0px; padding-top:88px;}
  .reseauxsociaux a {margin-left:6px;}
  .reseauxsociaux {margin-left: -30px;margin-bottom:20px}
  .lien1 img, .lien2 img,.lien3 img{max-width: 250px;margin-left: 0px;margin-right: 0px;max-height: 180px;}
  .lien1, .lien2,.lien3{max-width: 768px;margin-left: 0px;margin-right: 0px;font-size:15px;}

/*les titres*/
  #titr{height:30px; max-width:768px;text-align:center;;font-size:18px;position: absolute;top: -70px;left:65px; }
  #titre{max-width: 768px;margin-left: 0px;margin-right: 0px;font-size:22px;position: absolute;top: 450px;}
  #tit{max-width:768px;height:80px;position: absolute;top:200px;font-size:30px;padding-top: 55px;}

/*les bloques des pages.*/
  header, footer, #main, footer {max-width: 768px;margin-left: 0px;margin-right: 0px;}
   header{max-height:328px;}
   header .salut{max-width:768px;position:absolute;top:170px;right:230px;font-size:45px; }
  .space2{width:768px;height: 1305px;margin-top: -50px;}
   #page_contact header{max-height:100px;}
   #ret{max-height:10px;}
   #main{max-height:128px;}
   #gropeportfolio img{width:200px;}
   #gropeportfolio{max-width:768px;margin-left:50px;position: absolute;left:180px; }
   #page_portfolio #main{max-width:768px;top:75px;height: 100px;margin-left: 0px;margin-right: 0px; right: 65px;}
  #page_about footer{font-size: 12px;max-width: 768px;margin-left: 0px;position: absolute;top: 750px;}
  #page_portfolio footer{font-size: 12px;max-width: 768px;margin-left: 0px;position: absolute;top: 1670px;}
  #page_home footer{font-size: 12px;max-width: 768px;margin-left: 0px;position: absolute;top: 1407px;}
  #page_contact footer{font-size: 13px;max-width: 768px;margin-left: 0px;position: absolute;top: 480px;}
  #page_about #main{ max-height: 400px;position: absolute;top: 350px;}
  #page_about .vide{ display:none}
  footer, .vide, #tit,.ad{max-width: 768px;margin-left: 0px;}
  #page_contact .vide{height:168px;margin-left: 0px;}
}


/***********************************************************/
/*      TABLETs and laptop                                         */

/*menu de navigation*/
@media screen and (min-width: 1024px) and (orientation: landscape){
  #list{position:absolute;top: 0px;}
nav img {  width: 25px;position: absolute;right: 5px;}
nav li {float:none;width:0px; padding:0px;padding-top:0px; margin:0px;margin-bottom:20px;text-align:center;}
nav li{font-size: 18px;}
img{max-width: 1024px;}
.liens  img{max-width: 1024px}

/*informations qui se trouvent dans les pages */
  .ad{ width: 924px;height: 130px;top:500px; right:0px;left:0px;padding-top:100px;}
  .ab{  right:184px;  max-width: 1024px;position: absolute;top:50px;border-top:none;border-bottom:none;}
  #logo img{;margin-left: 0px;margin-right: 0px;}
  #logo{;position: absolute;right:1025px;top:0px;}
  .Salut{ font-size: 1500px;}
  .presentation{max-width: 1024px;margin-right:0px;font-size: 18px; }

/* les liens des sites web et les reseaux sociaux.*/
  .reseauxsociaux {padding-top:208px}
  .reseauxsociaux a {}
  .lien1 img, .lien2 img,.lien3 img{max-width: 250px;}
  .lien1, .lien2,.lien3{max-width: 1024px;font-size:15px;font-size:18px;}

/*les diferents titres*/
  #tit{max-height:140px;position:absolute;top:300px;font-size:50px;padding-top:90px;}
  #titre{max-width: 1024px;margin-left: 0px;margin-right: 0px;font-size:30px;position: absolute;top: 580px}

/*les bloques de chaque page.*/
  header, footer, #main, footer {max-width: 1024px;margin-left: 0px;margin-right: 0px;}
  header{max-height:768px;}
  #page_contact header{max-height:255px;}
  #page_contact
  #ret{max-height:100px;}
  #main{max-height:1028px;}
  #page_about .vide {width: 1024px;background-color: #d5cac6;height: 30px;}
  #page_about footer{font-size: 10px;max-width: 1024px;margin-left: 0px;position: absolute;top: 1050px;}
  #page_portfolio footer{font-size: 10px;max-width: 1024px;margin-left: 0px;position: absolute;top: 2380px;}
  #page_home footer{font-size: 12px;max-width: 1024px;margin-left: 0px;position: absolute;top: 1590px;}
  #page_contact footer{font-size: 15px;max-width: 1024px;margin-left: 0px;position: absolute;top: 760px;}
  #page_contact #tit{height:5000px;position:absolute;top:260px;font-size:50px;}
  #page_contact .vide{ max-height: 550px;position: absolute;top: 530px;}
  #page_about #main{ max-height: 550px;position: absolute;top: 510px;}
  #page_about .vide{ display:none}
  }


@media print {


  nav {
    display: none;
  }
title, footer{display: none;}


#qr{position: absolute;display:block;}
#qr img{ width: 150px;height: 150px;position: absolute;}

}
